.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding: 0px 50px;

  }

.navbar-brand{
    padding: 0px 25px;
  }

  h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px 50px;
    font-weight: bold;
  }

  h2{
      font-weight:600;
      font-weight: bold;
  }

  .nav, .tab-content{
    padding: 0px 50px;
  }

  .cover{
    padding: 2% 0;
  }

  .research{
      font-weight: bold;
  }

  .points{
    padding: 0px 50px;
  }

  .cover{
    max-width: 100%;
    height: auto;
  }